{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set layout_classes = layout_classes|default([
    '-mx-2',
    'flex',
    'flex-wrap',
    'items-center',
  ])
%}
{% if content %}
  <section{{region_attributes.content.addClass(layout_classes)}}>
    {% for item in content.content if item['#plugin_id'] %}
      <div class="mx-2">
        {{ item }}
      </div>
    {% endfor %}
  </section>
{% endif %}
