{% set attributes = attributes|default(create_attribute()) %}

{% set classes = classes|default([
  'border-b-2',
  'border-current',
]) %}

<a{{attributes.setAttribute('href',url).addClass(classes)}}>{{ text }}</a>
