{#
/**
 * @file
 * Theme override for a single local action link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - link: A rendered link element.
 *
 * @see template_preprocess_menu_local_action()
 */
#}
{%
  set action_classes = action_classes|default([
    'mr-3',
    'my-3',
    'border-b-2',
    'border-current',
  ])
%}
<a{{attributes.addClass(action_classes)}} href="{{ link['#url'].toString() }}">
  {{ link['#title'] }}
</a>
