/* purgecss start ignore */
.ui-dialog {
  @apply p-0 border-0 rounded shadow-lg outline-none;
  .ui-dialog-titlebar {
    @apply bg-grey-dark outline-none rounded-t text-white;
  }
  .ui-widget-content {
    &.ui-dialog-buttonpane {
      @apply rounded-b;
    }
  }
  .ui-dialog-titlebar-close {
    opacity: 0.5;
    transition: all, 0.2s;
    &:hover {
      opacity: 1;
    }
  }
  .ui-button {
    &:hover {
      @apply;
    }
  }
}

.ui-button-icon-only {
  &.ui-dialog-titlebar-close {
    &.ui-state-active {
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    &.ui-widget-content {
      .ui-state-active {
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
    }
  }
}
/* purgecss end ignore */
