a {
  @apply no-underline text-inherit;
  &:not([class]) {
    @apply border-b-2 border-black;
  }
  &.button {
    @apply border-b-2 border-black mx-1;
  }
}

nav:not([role]) {
  a {
    &:not([class]) {
      @apply border-b-0;
    }
    &.button {
      @apply border-b-0;
    }
  }
}
