/*! purgecss start ignore */
a {
  &:not([class]),
  &.button {
    @apply border-b-2 border-current font-semibold;
  }
}

nav[role="navigation"] {
  a {
    &:not([class]) {
      @apply border-b-0;
    }
    &.button {
      @apply border-b-0;
    }
  }
}

.vertical-tabs {
  a {
    @apply border-0;
  }
}
/*! purgecss end ignore */
