.paragraphs-dropdown-toggle {
  background: none;
}

ul.paragraphs-add-dialog-list {
  input.field-add-more-submit {
    background-repeat: no-repeat;
    background-position: 0.5rem;
    background-size: 1.5rem;
    padding-left: 3rem;
    text-align: left;
  }
}
