/**
 * Place your custom styles here.
 */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800');

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body,
.form-control,
.btn,
.help-block {
  font-size: 16px !important;
}

.form-control {
  height: unset;
}

.navbar .logo {
  width: 10rem;
}

.select-wrapper+.select-wrapper {
  margin-top: .5rem;
}

.table-responsive {
  overflow-x: hidden;
}

.select2-container .selection:after {
  color: #337ab7;
  content: '▼';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-top: -.5em;
  padding-right: .5em;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 10;
}

.has-glyphicons .select2-container .selection:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e114';
  display: inline-block;
  font-family: 'Glyphicons Halflings';
}
