{#
/**
 * @file
 * Default theme implementation of a facet result item.
 *
 * Available variables:
 * - value: The item value.
 * - raw_value: The raw item value.
 * - show_count: If this facet provides count.
 * - count: The amount of results.
 * - is_active: The item is active.
 * - facet: The facet for this result item.
 *   - id: the machine name for the facet.
 *   - label: The facet label.
 *
 * @ingroup themeable
 */
#}
{% if is_active %}
  <i class="mr-1 flex">{% include active_theme_path() ~ '/icons/minus-circle.svg' %}</i>
{% endif %}
<span class="flex-1">{{ value }}</span>
{% if show_count %}
  <span class="bg-blue text-white rounded-full px-2 py-1 text-xs font-bold">{{ count }}</span>
{% endif %}
