{% embed "block.html.twig" with {
  'block_classes': [
    'my-2',
  ],
  'content_classes':[
    'grid',
    'grid-cols-1',
    'sm:grid-cols-2',
    'md:grid-cols-3',
    'xl:grid-cols-4',
    'gap-2',
  ]
} %}
  {#
    /**
     * @file
     * Theme override for local actions (primary admin actions.)
     */
    #}
  {% block content %}
    {% if content %}
      <nav{{create_attribute({'class':content_classes})}}>
        {{ content }}
      </nav>
    {% endif %}
  {% endblock %}
{% endembed %}
