{% embed "block.html.twig" with {
  'block_classes': [
    'my-2',
  ],
  'content_classes':[
    'flex',
    'flex-row',
    'flex-wrap',
  ]
} %}
  {#
    /**
     * @file
     * Theme override for local actions (primary admin actions.)
     */
    #}
  {% block content %}
    {% if content %}
      <nav{{create_attribute({'class':content_classes})}}>
        {{ content }}
      </nav>
    {% endif %}
  {% endblock %}
{% endembed %}
