.select2-selection--single {
  @apply bg-gray-100 appearance-none block border border-gray-500 rounded w-full h-full pl-4 pr-8 py-3;
  cursor: text;

  .select2-selection__rendered {
    @apply py-1 flex items-center;
    cursor: default;
  }

  .select2-selection__clear {
    @apply cursor-pointer font-bold mr-2;
  }

  .select2-selection__placeholder {
    float: left
  }
}

&[dir="rtl"] {
  .select2-selection--single {
    .select2-selection__clear {
      float: left;
    }

    .select2-selection__arrow {
      left: 1px;
      right: auto;
    }
  }
}

&.select2-container--disabled {
  .select2-selection--single {
    background-color: #eee;
    cursor: default;

    .select2-selection__clear {
      display: none;
    }
  }
}

