{% embed 'field.html.twig' with {
  'margin': 0,
  'item_classes': [
    'p-2',
    'bg-cyan',
    'text-white',
    'border',
    'border-cyan-darker',
    'rounded',
  ],
} %}
	{% block content %}
		{%- for item in items -%}
			<a{{item.attributes.addClass(['border-0', 'flex'])}} href="tel:+1{{ item.content['#title'] | trim }}">
				<span{{ create_attribute().addClass(item_classes) }}>
          {% include active_theme_path() ~ '/icons/phone.svg' %}
				  <span class="ml-2">{{ item.content['#title'] }}</span>
        </span>
			</a>
		{%- endfor -%}
	{% endblock %}
{% endembed %}
