{% embed 'field.html.twig' with {
  margin: 0,
  'content_classes': [
    'flex',
    'flex-wrap',
  ],
} %}
	{% block content %}
		<div{{content_attribute.addClass(content_classes)}}>
			{%- for item in items -%}
				{{ item.content }}
			{%- endfor -%}
		</div>
	{% endblock %}
{% endembed %}
