{% embed 'field.html.twig' with {
  field_classes: [
    'my-3',
  ],
  'item_classes': [
    'flex',
    'items-center',
  ],
} %}
	{% spaceless %}
		{% block content %}
			{%- for item in items if item.content|render|striptags|trim is not empty -%}
				<a{{item.attributes.addClass(['border-0', 'flex'])}} href="mailto:{{ item.content['#title'] }}">
					<span{{ create_attribute().addClass(item_classes) }}>
            {% include active_theme_path() ~ '/icons/mail.svg' %}
					  <span class="ml-2 border-b-2 border-transparent hover:border-current focus:border-current">{{ item.content['#title'] }}</span>
          </span>
				</a>
			{%- endfor -%}
		{% endblock %}
	{% endspaceless %}
{% endembed %}
