{% embed 'field.html.twig' with {
	'item_classes': [
		'flex',
		'items-center',
	],
} %}
	{% spaceless %}
		{% block content %}
			{%- for item in items if item.content|render|striptags|trim is not empty -%}
        {% set content %}
          <span{{ create_attribute().addClass(item_classes) }}>
            {% include active_theme_path() ~ '/icons/mail.svg' %}
					  <span class="ml-2 border-b-2 border-current">{{ item.content['#title'] }}</span>
          </span>
        {% endset %}
        {% include '@rain/component/link.html.twig' with {
          attributes: item.attributes,
          classes: [
            'border-0',
            'flex',
          ],
          url: 'mailto:' ~ item.content['#title'],
          text: content,
        } only %}
			{%- endfor -%}
		{% endblock %}
	{% endspaceless %}
{% endembed %}
