{% embed 'field.html.twig' with {
    field_classes: [
      'my-0',
    ],
  } %}
  {% spaceless %}
    {% block content %}
      {%- for item in element['#items'] if item.getValue()['value'] == 1 -%}
        <span class="flex items-center font-semibold">
          <span class="mr-2 flex">
            {% include active_theme_path() ~ '/icons/globe.svg' %}
          </span>
          {% trans %}Spatial{% endtrans %}
        </span>
      {%- endfor -%}
    {% endblock %}
  {% endspaceless %}
{% endembed %}
