{#
/**
 * @file
 * Theme override for Views UI display tab settings.
 *
 * Template for each row inside the "boxes" on the display query edit screen.
 *
 * Available variables:
 * - attributes: HTML attributes such as class for the container.
 * - description: The description or label for this setting.
 * - settings_links: A list of links for this setting.
 * - defaulted: A boolean indicating the setting is in its default state.
 * - overridden: A boolean indicating the setting has been overridden from the
 *   default.
 *
 * @see template_preprocess_views_ui_display_tab_setting()
 */
#}
{%
  set classes = [
    'views-display-setting',
    'clearfix',
    'views-ui-display-tab-setting',
    defaulted ? 'defaulted',
    overridden ? 'overridden',
]
%}

{%
  set link_classes = link_classes|default([
    'border-black',
    'border-b-2',
  ])
%}

{% set seperator_attributes = seperator_attributes|default(create_attribute()) %}
{%
  set seperator_classes = seperator_classes|default([
    'mx-1',
  ])
%}

<div{{ attributes.addClass(classes) }}>
  {% if description -%}
    <span class="label">{{ description }}</span>
  {%- endif %}
  {% if settings_links %}
    {% for link in settings_links %}
      {{ link }}
      {% if not loop.last %}
        <span{{ seperator_attributes.addClass(seperator_classes) }}>|</span>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>
