<article class="teaser flex flex-col itmes-start mb-5">
  <div class="flex flex-col flex-col-reverse items-start">
    <h3 class="flex items-center">
      {% include active_theme_path() ~ '/icons/table-solid.svg' %}
      <a href="{{ url }}" rel="bookmark" class="ml-2 border-black border-b-2">
        {{ label }}
      </a>
    </h3>
    {% if node.type.entity.label %}
      <span class="flex items-center my-2 px-3 py-1 bg-fog-300 text-gray-900 text-md rounded border font-semibold">
        <span class="visually-hidden">Type is</span>
        {{ node.type.entity.label }}
      </span>
    {% endif %}
  </div>
  {{ content }}
</article>
